.hero{
    background-image: url("./she-devs-images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    object-fit: cover;
    color: #fff;
    align-items: center;
    justify-content: center;
}