*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px ;

  
    img{
      width: 40%;
    
  }
   
  ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap:20px;
  }

  button{
    color: #fff;
    background-color: #C04EC7;
    border: none;
    padding:10px 19.64px;
    border-radius: 5px;
  }
}