.Recipe{
   
  .text{
    position: absolute;
    background-repeat:no-repeat ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background:linear-gradient(transparent, black) ;
    z-index: 10;
    color: #ffff;
  }
    
    .img{
        position: relative;
        img{
            position: relative;
        }
    }
}